<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis-02:war exploded">
    <output-path>$PROJECT_DIR$/mybatis-02/target/mybatis-02</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>mybatis-02</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis-02" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.2" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/mybatis-02/target/mybatis-02/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="mybatis-02/web/Web" />
    </root>
  </artifact>
</component>